body {
    overflow-x: hidden;
    background-color: #f8f9fa;
}

* {
    box-sizing: border-box;
    font-family: 'montserrat', sans-serif;
}

#reseaux * {
    font-family: 'FontAwesome';
}

.contact-btn {
    border-radius: 50px;
    border-width: 2px;
}

.read-btn {
    border-radius: 50px;
    border-width: 1px;
    padding: 5% 30%
}

.send-btn {
    border-radius: 50px;
    border-width: 1px;
    width: fit-content;
    padding: 2% 10%
}

.opacity-30 {
    opacity: 0.30 !important;
}

.banner-separator {
    margin-left: 0;
    margin-right: 0;
    position: relative;
    margin-bottom: 15rem !important;
}

.banner-separator::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    width: 100vw;
    height: 100%;
    background-image: url("images/section-back.svg");
    background-color: #332f30;
    transform: translateX(-50%);
    z-index: -1;
}

.image-row {
    top: 65%;
    left: 35%;
    z-index: 1;
}

.picture {
    max-width: 150px;
    z-index: 10;
    margin: auto;
}

.profil {
    width: 20%;
    height: 100%;
    position: absolute;
    bottom: -50px;
    left: 50%;
    transform: translateX(-50%);
    color: black;
    text-align: center;
}

.image-row .star {
    max-width: 1rem;
    z-index: 10;
    padding-right: 0;
    padding-left: 0;
}

.image-row .row {
    z-index: 10;
}

.hover-card {
    cursor: pointer;
    transition: all 0.3s ease;
}

.hover-card:hover {
    transform: scale(1.05);
}

.hover-card img {
    object-fit: cover;
}

.project-modal {
    display: none;
}

input,
textarea {
    border-radius: 50px !important;
}

.category-selected {
    color: black !important;
    border: solid 1px black;
}

.date-banner {
    background-color: rgb(41, 40, 40);
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    padding: 15px 25px;
    text-align: center;
}

.active-nav {
    text-decoration: underline;
    font-weight: bold;
    text-underline-offset: 10px;
    text-decoration-thickness: 3px;
}

.navbar::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    width: 100vw;
    height: 100%;
    background-color: #f8f9fa;
    transform: translateX(-50%);
    z-index: -1;
}

#reseaux {
    display: flex;
    justify-content: center;
    width: fit-content;
}

#reseaux .list-group-item {
    padding: 0;
    flex: 1;
    text-align: center;
    margin: 0.2rem;
    cursor: pointer;
}

#reseaux i {
    height: 2rem;
    width: 2rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: white;
}

footer {
    position: relative;
    background-color: #2b2a2c;
}

footer::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    width: 100vw;
    height: 100%;
    background-color: #2b2a2c;
    transform: translateX(-50%);
    z-index: -1;
}

.close-btn {
    cursor: pointer;
    font-size: 2rem;
}

#contact-modal .modal-dialog {
    max-width: 1000px;
}

#contact-modal .close-btn {
    color: white;
    position: absolute;
    right: 1rem;
    top: 1.5rem;
}