* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background: rgb(151, 151, 151);
}

body {
    font-family: 'Roboto', sans-serif;
    font-variation-settings: 'wght' 400;
    font-size: 16px;
    background: rgb(151, 151, 151);
    color: white;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}

#container {
    background: rgb(2, 0, 36);
    background: linear-gradient(to right, #540054, #bf4193);
    height: fit-content;
    z-index: 1;
}

.drive-link {
    color: white;
}

.drive-link:hover {
    color: grey;
}

nav>.container {
    background: linear-gradient(to right, #650a5e, #ae3689);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.navbar-brand {
    color: whitesmoke !important;
}

.navbar {
    background: linear-gradient(to right, #650a5e, #ae3689);
    top: 50%;
    left: 0;
    position: fixed !important;
    z-index: 999;
    transform: translateY(-50%);
}

.navbar-nav .nav-item .nav-link {
    color: whitesmoke;
    font-size: large;
}

.navbar-nav .nav-item .nav-link.active {
    color: white;
    font-size: large;
    text-decoration: underline;
}

#navbarNav {
    justify-content: center;
}

#navbarNav>ul {
    justify-content: space-evenly;
    width: 100%;
}

#firstRow {
    background: linear-gradient(to right, #540054, #bf4193);
    color: white;
    padding-top: 8% !important;
    padding-bottom: 2% !important;
}

img.profil {
    height: 10rem;
    object-fit: cover;
    border-radius: 50%;
}

.linksHead a {
    text-decoration: none;
}

.expand {
    cursor: pointer;
}

.bigRow {
    max-height: 1000px;
    overflow: hidden;
    padding: 10px !important;
    transition: all 0.3s ease;
}

.bigRow:nth-of-type(odd) {
    transform: translateX(-100%);
    opacity: 0;
}

.bigRow:nth-of-type(even) {
    transform: translateX(100%);
    opacity: 0;
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.slide-in-left {
    animation: slideInFromLeft 0.5s ease-out forwards;
}

.slide-in-right {
    animation: slideInFromRight 0.5s ease-out forwards;
}

.smallRow {
    margin-bottom: 10px;
    justify-content: space-around;
    gap: 0.5%;
    margin-left: auto !important;
    margin-right: auto !important;
}

.card {
    margin: 4px;
    transition: all 0.3s ease;
    width: 32.2% !important;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
}

.card:hover {
    transform: scale(1.05);
}

.card-header {
    background-color: white !important;
}

.smallCard {
    margin: 3px;
    width: 35% !important;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
}

section {
    background-color: rgb(151, 151, 151);
}

section:last-of-type {
    margin-bottom: 10%;
}

.link {
    color: rgb(12, 125, 163);
}

.icon {
    cursor: pointer;
}

.boutons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3%;
}

.image-swift {
    width: 25%;
    height: 100%;
    object-fit: cover;
}