html,
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    background-image: url('img/parc.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

h1 {
    text-align: center;
}

h6.user {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    flex-wrap: wrap;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

#clickButton {
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
}

#clickButton img {
    width: 100%;
    height: 100%;
}

#clickButton.clicked {
    animation: click 1s;
}

@keyframes click {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(0.5);
    }

    100% {
        transform: scale(1);
    }
}

.bee {
    position: absolute;
    height: auto;
    background-size: cover;
    width: 50px;
    height: 50px;
}

@media screen and (max-width: 768px) {
    .bee {
        width: 20px;
        height: 20px;
    }
}

@keyframes moveRight {
    0% {
        left: 0;
    }

    100% {
        left: 100%;
    }
}

@keyframes moveLeft {
    0% {
        left: 100%;
    }

    100% {
        left: -50px;
    }
}